<!DOCTYPE html>
<head>
  <%include ../partials/head %>
  <!-- Javascript script for page -->
<script src="../../assets/scripts/games.js"> </script>
</head>
<html>
<body>
  <div class="container">
    <!--Content-->
    <ul class="list-group">
    </ul>
</body>
</html>
